@model IEnumerable<Web.Entities.QuestionEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/reports/?questionCode=@item.QuestionCode&questionKey=@item.QuestionKey&question=@item.Question">@Html.DisplayFor(modelItem => item.QuestionCode)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.QuestionKey }) |
                    @Html.ActionLink("Details", "Details", new { id = item.QuestionKey }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.QuestionKey })
                </td>*@
            </tr>
        }
    }

</table>
