@model IEnumerable<Web.Entities.QuestionAndAnswerEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PresentationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PossibleAnswer)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PresentationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossibleAnswer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Key }) |
                @Html.ActionLink("Details", "Details", new { id = item.Key }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Key })
            </td>
        </tr>
    }
}

</table>
